.episodes-edition {
  background-color: #FBFBFB;
  margin: 0 !important;
  padding-bottom: 20px;
}

.episodes-edition .col {
  padding: 0 8px;
}

.episodes-edition .container {
  width: 90%;
  padding: 20px 0 0 0 !important;
  content: '';
  display: table;
  clear: both;
}

/* header */

.episodes-edition .header {
 padding: 10px 0 20px 0 !important;
}

.episodes-edition .header i {
  color: black;
  float: left;
  font-size: 24px;
  line-height: 24px;
  margin: 0 16px;
}

.episodes-edition .header .title {
  float: left;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  width: calc(100% - 226px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episodes-edition .header .link {
  float: left;
  text-align: right;
  font-size: 15px;
  line-height: 24px;
  height: 24px;
  width: 170px;
}

.episodes-edition .header .link a {
  font-weight: 100;
  color: #A9A9A9;
}

.episodes-edition .header .link a:hover {
  color: #FF6666;
}

/* header end */


/* block-sliced */

.episodes-edition .block-sliced {
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 20px; 
}

.episodes-edition .block-sliced .title-container {
  padding: 24px !important;
}

.episodes-edition .block-sliced .divisor {
  padding: 26px 24px 24px 24px !important;
  border-bottom: 1px solid #E0E0E0;
}

.episodes-edition .block-sliced .title-container .title-box {
  float: left;
  width: 100px;
}

.episodes-edition .block-sliced .title-container .title-box i {
  color: #505050;
  float: left;
}

.episodes-edition .block-sliced .title-container .title-box .title {
  color: #505050;
  float: left;
  padding-left: 10px;
}

.episodes-edition .block-sliced .title-container .show-qualities-box {
  float: right;
  color: #FF6666;
  margin-right: 16px;
}

.episodes-edition .block-sliced .title-container .show-qualities-box i {
  float: right;
  padding-left: 10px;
}

.episodes-edition .block-sliced .title-container .show-qualities-box .title {
  float: right;
  font-size: 13px;
  line-height: 24px;
}

.episodes-edition .block-sliced .title-container .add-episode-box {
  float: right;
  color: #FF6666;
}

.episodes-edition .block-sliced .title-container .add-episode-box i {
  float: right;
  padding-left: 10px;
}

.episodes-edition .block-sliced .title-container .add-episode-box .title {
  float: right;
  font-size: 13px;
  line-height: 24px;
}

.episodes-edition .block-sliced .main-content {
  padding: 24px 16px;
}

/* block-sliced end */

/* qualities */

.episodes-edition .qualities {
  padding: 16px !important;
}

/* qualities end*/

/* episodes */

.episodes-edition .episode-container {
  padding: 0 4px 8px 4px;
}

.episodes-edition .options {
  padding: 8px 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.35);
  background-color: #fff;
}

.episodes-edition .options .detail {
  margin: 0 8px;
  float: left;
  background: #eeeeee;
  cursor: default;
}

.episodes-edition .options .quantity {
  float: left;
  line-height: 36px;
  color: #777;
  font-size: 12px;
  margin-right: 6px;
}

.episodes-edition .options .option {
  margin: 0 8px;
  float: right;
  background: #eeeeee;
}

.episodes-edition .options .option:hover {
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
}

.episodes-edition .options .option i, .episodes-edition .options .detail i {
  color: #757575;
  font-size: 1.5rem;
}

/* episodes end */
