<div class="row info">
  <div class="col s12 m6 l4 links">
    <div class="vertical-table-align">
      <div class="link">
        <a ng-href="#!/terminos-de-servicio"
           target="_blank">
          TÉRMINOS DE SERVICIO
        </a>
      </div>
      <div class="link">
        <a ng-href="#!/politica-de-privacidad"
           target="_blank">
          POLÍTICA DE PRIVACIDAD
        </a>
      </div>
      <!-- TODO: Mostrar contacto cuando esté listo -->
      <!--
      <div class="link">
        CONTÁCTANOS
      </div>
      -->
    </div>
  </div>

  <div class="col s12 m6 l4 social-links">
    <div class="vertical-table-align">
      <div class="headboard">
        Síguenos en:
      </div>
      <div class="social-icons-container">
        <a href="https://www.facebook.com/AnimeBeatOficial"
           target="_blank"
           class="social-icons social-icons-facebook-logo-in-circular-button-outlined-social-symbol">
        </a>
        <a href="https://twitter.com/AnimeBeatGo"
           target="_blank"
           class="social-icons social-icons-twitter-circular-button">
        </a>
        <!-- TODO: Mostrar mas sociales cuando esté listo -->
        <!--
        <a href="https://www.facebook.com/AnimeBeatOficial"
           target="_blank"
           class="social-icons social-icons-instagram">
        </a>
        -->
      </div>
    </div>
  </div>

  <div class="col l4 web-description hide-on-med-and-down">
    <div class="vertical-table-align">
      AnimeBeat, tu web donde puedes ver las mejores series, películas y ovas. Además de organizar tus listas, compartir opiniones, ver citas y calificar.
    </div>
  </div>
</div>
<div class="logo">
  <img class="logo-picture" ng-src="modules/core/imgs/logo-footer.svg">
</div>
