.login-modal {
  max-height: 90vh;
  letter-spacing: 1px;
}

.login-modal .close-modal-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  text-shadow: 1px 2px 5px #563d3e;
}

/* form container */

.login-modal .form-container {
  padding: 0;
  height: 100%;
}

.login-modal .form-container .title {
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}

.login-modal .form-container .reduce-margin-bottom {
	margin-bottom: 5px;
}

.login-modal .form-container .forgotten-password {
  text-align: right;
  font-size: 12px;
  padding-bottom: 26px !important;
}

.login-modal .form-container .forgotten-password a {
  color: #FF6666;
}

.login-modal .form-container .login-divider {
  padding: 0;
  border-bottom: 1px solid #EEEEEE
}

.login-modal .form-container .question {
  color: #515151;
  font-size: 14px;
  text-align: center;
  height: 50px;
  line-height: 50px
}

.login-modal .form-container .question span {
  color: #FF6666;
}

.login-modal .form-container .button-container {
  padding-bottom: 16px !important;
}

.login-modal .form-container .button-container a,
.login-modal .form-container .button-container button {
  width: 100%;
}

.login-modal .form-container .button-social-container {
  padding-bottom: 16px !important;
}

.login-modal .form-container .button-social-container .btn-facebook {
	float: left;
	width: calc(50% - 4px);
  background-color: #35578C !important;
	margin-left: 4px;
	padding: 0;
}

.login-modal .form-container .button-social-container .btn-facebook img {
	height: 36px; width: 36px; float: left;
	margin-left: 8px;
	padding: 2px;
}

.login-modal .form-container .button-social-container .btn-facebook span {
	line-height: 36px; float:left;
	padding-left: 4px;
}

.login-modal .form-container .button-social-container .btn-google {
	float: left;
	width: calc(50% - 4px);
  background-color: #DD4B39 !important;
	margin-right: 4px;
	padding: 0;
}

.login-modal .form-container .button-social-container .btn-google img {
	height: 36px; width: 36px; float: left;
	margin-left: 16px;
	padding: 4px;
}

.login-modal .form-container .button-social-container .btn-google span {
	line-height: 36px; float:left;
	padding-left: 8px;
}

/* form container end */


/* image container */

.login-modal .image-container {
  height: 428px;
  padding: 0;
  position: relative;
  border-radius: 0 2px 2px 0;
}

.login-modal .image-container.register-img {
  height: 554px;
}

.login-modal .image-container img {
  object-fit: cover;
  border-radius: 0 2px 2px 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* image container end */
