	/*
  	social-icons icon font: social-icons
  	Creation date: 24/12/2016 22:06
  	*/

@font-face {
  font-family: "social-icons";
  src: url("./social-icons.eot");
  src: url("./social-icons.eot?#iefix") format("embedded-opentype"),
       url("./social-icons.woff") format("woff"),
       url("./social-icons.ttf") format("truetype"),
       url("./social-icons.svg#social-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "social-icons";
    src: url("./social-icons.svg#social-icons") format("svg");
  }
}

[class^="social-icons-"]:before, [class*=" social-icons-"]:before,
[class^="social-icons-"]:after, [class*=" social-icons-"]:after {   
  font-family: social-icons;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.social-icons-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f100"; }
.social-icons-instagram:before { content: "\f101"; }
.social-icons-twitter-circular-button:before { content: "\f102"; }