<div class="row">
  okok
  <!-- TODO: 
  -Revisar cover en pantalla sin editor.
  -Reparar iconos mostrados
  -Analizar opciones que del editor que se usarán -->

  <!--
  <div class="col s12">

    <h1>Medium Editor + Insert Plugin for AngularJS</h1>
    <h4>Type Here:</h4>

    <form name="demo">
      <medium-editor 
        name="text" 
        ng-model="text" 
        bind-options="mediumEditorOptions">
        <medium-insert insert-addons="insertAddons"></medium-insert>
      </medium-editor >
    </form>

    <h4>Model:</h4>
    <pre>{{text}}</pre>

    <h4>Finished:</h4>
    <div ng-bind-html="text | renderHtml"></div>

  </div>
  -->


  <div class="col s12">

    <!--
    TRUCO-TEMA:
    -Agregar owl-theme a class de invocación de directiva.

    TRUCO CLICK EN BOTONES:
    -poner id a carousel
    $('.carousel-id .owl-next').click();
    -->

    <!-- TODO: fix identation -->
    <!-- 
    <div class="col s12">
      <owl-carousel owl-items="series" owl-options="owlOptions" class="owl-theme">
        <div class="item">

          <a class="col s12 serie" href="#!/series/{{item.id}}" >
           <div class="frame">
             <img class="picture" ng-src="{{item.poster}}">
             <div class="overlay">
               <div class="actions">
                 <span class="hov-blue action">
                   <i class="bookmark icon"></i>
                 </span>
                 <span class="hov-green action">
                   <i class="play icon"></i>
                 </span>
               </div>
             </div>
             <div class="sub title">
               Episodio <span class="number">{{$index+1}}</span>
               <span class="time">
                 <i class="wait icon"></i> 5 días
               </span>
             </div>
             <div class="title">
               <div class="limit">{{item.name}}</div>
             </div>
           </div>
          </a>

        </div>
      </owl-carousel>
    </div>


    <div class="col s12">
     <owl-carousel owl-items="series2" owl-options="owlOptions" class="owl-theme">
         <div class="item">

           <a class="col s12 serie" href="#!/series/{{item.id}}" >
             <div class="frame">
               <img class="picture" ng-src="{{item.poster}}">
               <div class="overlay">
                 <div class="actions">
                   <span class="hov-blue action">
                     <i class="bookmark icon"></i>
                   </span>
                   <span class="hov-green action">
                     <i class="play icon"></i>
                   </span>
                 </div>
               </div>
               <div class="sub title">
                 Episodio <span class="number">{{$index+1}}</span>
                 <span class="time">
                   <i class="wait icon"></i> 5 días
                 </span>
               </div>
               <div class="title">
                 <div class="limit">{{item.name}}</div>
               </div>
             </div>
           </a>

         </div>
     </owl-carousel>
    </div>
    -->

  </div>
</div>


<!-- test perfect scroll -->
<!--
<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
</perfect-scrollbar>
-->