.recovery-password {

}

.recovery-password .logo {
	margin-top: 8vh;
	text-align: center;
	width:
}

.recovery-password .logo img {
	width: 183px;
	height: 24px;
}

.recovery-password .content {
	padding: 16px 0;
}

.recovery-password .content .title {
	font-size: 22px;
	text-align: center;
}

.recovery-password .content .subtitle {
	font-size: 14px;
	text-align: center;
}

.recovery-password .content .text-field-container {
	margin-top: 32px;
	margin: 32px 35% 0 35%;
}

.recovery-password .content .buttons-container {
	text-align: center;
}

.recovery-password .content loader {
	padding: 48px;
}
