<div class="recovery-password">

	<div class="logo">
		<img src="modules/core/imgs/logo.svg">
	</div>

	<form name="requestRecoveryPasswordForm" class="content" ng-if="!step">

		<div class="title">
			Recuperar contraseña
		</div>
		<div class="subtitle">
			Para recuperar contraseña ingrese su email
		</div>

		<div ng-if="!loadingRecovery">
			<div class="input-field text-field-container">
				<i class="material-icons prefix">person</i>
				<input id="recovery-email" name="recovery-email" ng-model="recoveryCredentials.email" type="text" required>
				<label for="recovery-email">Email</label>
			</div>

			<div class="buttons-container" ng-if="!loadingRecovery">
				<button class="waves-effect waves-light btn"
								ng-disabled="requestRecoveryPasswordForm.$invalid"
								ng-click="requestRecoveryPassword()">
					RECUPERAR
				</button>
			</div>
		</div>

		<loader ng-if="loadingRecovery"></loader>

	</form>

	<div class="content" ng-if="step === 'email'">
		<div class="title">
			Recuperar contraseña
		</div>
		<div class="subtitle">
			Te hemos enviado un email con las instrucciones de restauración
		</div>
	</div>

	<form name="recoveryPasswordForm" class="content" ng-if="step === 'final'">

		<div class="title">
			Crear nueva contraseña
		</div>
		<div class="subtitle">
			Para generar una nueva contraseña ingresa tu folio
		</div>

		<div ng-if="!loadingRecovery">
			<div class="input-field text-field-container">
				<i class="material-icons prefix">receipt</i>
				<input id="folio" name="folio" ng-model="recoveryCredentials.folio" type="text" required>
				<label for="folio">Folio</label>
			</div>

			<div class="input-field text-field-container">
				<i class="material-icons prefix">lock</i>
				<input id="newPassword" name="recoveryCredentials.newPassword" ng-model="recoveryCredentials.newPassword" type="password" required>
				<label for="newPassword">Contraseña</label>
			</div>

			<div class="buttons-container">
				<button class="waves-effect waves-light btn"
								ng-disabled="recoveryPasswordForm.$invalid"
								ng-click="recoveryPassword()">
					ENVIAR
				</button>
			</div>
		</div>

		<loader ng-if="loadingRecovery"></loader>

	</form>

</div>
