<!-- Edicion de episodios -->
<div class="col s12 no-padding">
  <div class="row serie-episodes">

    <div class="col s12 header">
      Episodios
      <div class="chip right" ng-click="openQualityNewModal()">
        +calidad
      </div>
    </div>
    <div class="col s12 no-padding episode-header" ng-repeat="episode in episodes">
      <div class="col s12" ng-click="showEpisode = !showEpisode" ng-init="showEpisode = false">
        Episodio {{episode.number}}
      </div>

      <div class="col s12 episode-shown" ng-show="showEpisode">
        <div class="col s8">
          <div class="input-field col s12">
            <input id="name" ng-model="episode.name" type="text" class="validate" required>
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s4">
            <input id="number" ng-model="episode.number" type="text" class="validate" required>
            <label for="number">Número</label>
          </div>
          <div class="input-field col s8">
            <input id="image" ng-model="episode.image" type="text" class="validate" required>
            <label for="image">Imagen</label>
          </div>
          <!-- contenido de episodio -->
        </div>
        <div class="col s4">
          IMG
        </div>
        
        <div class="col s12 downloads-header">
          Downloads
        </div>
        <div class="col s4" ng-repeat="(key, myquality) in episode.qualities">
            <div class="col s12">
              {{key}} ({{myquality.length}}):
              <div class="chip" ng-click="addServer(myquality)">
                +
              </div>
            </div>

            <div class="col s12 no-padding" ng-repeat="server in myquality">
              <div class="input-field col s5">
                <input id="server" ng-model="server.server" type="text" class="validate" required>
                <label for="server">Server</label>
              </div>
              <div class="input-field col s6">
                <input id="url" ng-model="server.url" type="text" class="validate" required>
                <label for="url">Url</label>
              </div>
              <div class="col s1 no-padding">
                <div class="chip" ng-click="removeServer(myquality, $index)">
                  -
                </div>
              </div>
            </div>
        </div>

        <div class="col s12 downloads-header">
          Videos ({{episode.videos.length}})
          <div class="chip right" ng-click="addVideo(episode.videos)">
            +video
          </div>
        </div>
        <div class="col s4" ng-repeat="video in episode.videos">
          <div class="input-field col s5">
            <input id="server" ng-model="video.server" type="text" class="validate" required>
            <label for="server">Server</label>
          </div>
          <div class="input-field col s6">
            <input id="url" ng-model="video.url" type="text" class="validate" required>
            <label for="url">Url</label>
          </div>
          <div class="col s1 no-padding">
            <div class="chip" ng-click="removeVideo(episode.videos, $index)">
              -
            </div>
          </div>
        </div>


        <div class="col s12">
          <!-- deshabilitado temporalmente -->
          <div class="chip right" ng-click="onDeleteEpisode(episode, $index)">
            Eliminar episodio
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="chip" ng-click="addEpisode()">+episode</div>
    </div>

    <!-- Deshabilitado temporalmente  -->
    <!-- <div class="col s12">
      <a class="btn" ng-click="saveEpisodes()">GUARDAR</a>
    </div> -->
  
  </div>
</div>